img{
  width: 30%;
}
.nav-list{
  list-style-type: none;
}
li{
  display: inline;
}
nav>ul>li > a{
  text-decoration: none;
  color:black;
}
a:hover{
  color: blue;
  font-size: 1.1em;
}
footer{
  text-align: center;
}
main{
  margin-right: 20%;
  margin-left: 20%;
  }
h1{
  text-align: center;
}
nav{
  margin: auto;
}
