img{
  width: 30%;
}
.nav-list{
  list-style-type: none;
  text-align: center;
}
li{
  display: inline;
}
nav>ul>li > a{
  text-decoration: none;
  color:black;
}
p{
  font-size: 1.3em;
  text-indent: 2em;
}
a:hover{
  color: blue;
  font-size: 1.1em;
}
footer{
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
main{
  margin-right: 20%;
  margin-left: 20%;
  }
h1{
  text-align: center;
}
h2{
  text-align: center;
  font-size: 1.9em;
}
nav{
  margin: auto;
}
.float-left{
  float:inline-start;
}
